
<aside id="sidebar-left" class="sidebar-left">
    <div class="nano" id="partialView">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
              
                   
                    <ul class="nav nav-main">
                        <li class="nav-active" data-toggle="tooltip">
                            <a href="@Url.Action("Index","Dashboard")">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-active" data-toggle="tooltip">
                            <a href="@Url.Action("Index", "BGList")">
                                <i class="fa fa-dashboard" aria-hidden="true"></i>
                                <span>My Pending BG</span>
                            </a>
                        </li>
                        <li class="nav-active" data-toggle="tooltip">
                            <a href="@Url.Action("BGRequests", "Dashboard")">
                                <i class="fa fa-dashboard" aria-hidden="true"></i>
                                <span>All BG Request</span>
                            </a>
                        </li>

                        <li class="nav-active" data-toggle="tooltip">
                            <a href="@Url.Action("Index", "DocumentHierarchy")">
                                <i class="fa fa-folder" aria-hidden="true"></i>
                                <span>Letter List</span>
                            </a>
                        </li>
                        <li class="nav-active" data-toggle="tooltip">
                            <a href="@Url.Action("SaveExistingBG", "ManualBG")">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                <span>BG Inward Register</span>
                            </a>
                        </li>
                        <li class="nav-active" data-toggle="tooltip">
                            <a href="@Url.Action("Index", "Report")">
                                <i class="fa fa-reddit-square" aria-hidden="true"></i>
                                <span>BG Report</span>
                            </a>
                        </li>

                      
                        <li class="nav-active" data-toggle="tooltip">
                            <a href="@Url.Action("Index", "BGQuery")">
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <span>BG Query</span>
                            </a>
                        </li>
                      

                    
                        <li class="nav-active" data-toggle="tooltip">
                            <a href="@Url.Action("AllLetters", "letter")">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>ALL Letters</span>
                            </a>
                        </li>
                        <li class="nav-active" data-toggle="tooltip">
                            <a href="@Url.Action("BulkLetters", "letter")">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>Bulk Letters</span>
                            </a>
                        </li>
                        <li>

                            <a href="@Url.Action("Logout", "LoginAd")">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                        </ul>
            </nav>


            <br />
            <br />
            <div style="margin-top:100px;font-size:14px;">
                <nav id="menu" class="nav-main" role="navigation">
                    <ul class="nav nav-main">

                        <li class="fa-border nav-active" data-toggle="tooltip">
                            <i class="fa fa-gears" aria-hidden="true"></i>
                            <span>
                                Bank Guarantee - Version :<b>1.1</b>
                            </span>
                        </li>

                        
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</aside>
<!-- end: sidebar -->
